{% extends "base.html" %}

{% block title %} Dew Detector {% endblock %}

{% block content %}
    {% load static %}
    <div class="container">
        <audio id="dewSound" src="{% static '短い音-プイ.mp3' %}" type="audio/mp3"></audio>
        <!-- Dew Result Display -->
        <h1 id="dew_message"></h1>
        <!-- Dew Result Display End -->

        <!-- Input form -->
        <form id="dew_form" action="" method="post">
            {% csrf_token %}

            <div class="input-group">
                <input type="text" id="ambientTemp" name="ambientTemp" placeholder="Ambient Temperature" oninput="checkDewFormation()">
                <input type="text" id="windshieldTemp" name="windshieldTemp" placeholder="Windshield Temperature" oninput="checkDewFormation()">
                <input type="text" id="humidity" name="humidity" placeholder="Humidity (%)" oninput="checkDewFormation()">
            </div>

            <!-- Display error message if present -->
            <div class="error-message" id="error_message"></div>

        </form>
        <!-- Input Form End -->
    </div>

    <script>
        var lastDewMessage = null;

        function checkDewFormation() {
            var csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
            var ambientTemp = document.getElementById('ambientTemp').value;
            var windshieldTemp = document.getElementById('windshieldTemp').value;
            var humidity = document.getElementById('humidity').value;

            fetch('/dew_detector/', { // URL
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                    'X-CSRFToken': csrftoken
                },
                body: `ambientTemp=${ambientTemp}&windshieldTemp=${windshieldTemp}&humidity=${humidity}`
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById('error_message').innerText = '';
                if (!data.error) {
                    document.getElementById('dew_message').innerText = data.dew_message;
                    // Play sound if dew_message is not null and different from the last message
                    if (data.dew_message !== null && data.dew_message !== lastDewMessage) {
                        document.getElementById('dewSound').play();
                    }
                    // Update the last message
                    lastDewMessage = data.dew_message;
                } else {
                    document.getElementById('error_message').innerText = data.error_message;
                }
            })
            .catch(error => {
                console.error('Error:', error);
                document.getElementById('error_message').innerText = 'An error occurred while processing your request.';
            });
        }
    </script>
{% endblock %}
